.nav.navbar-nav li a {
	color: black;
	hover: black;
}
.nav.navbar-nav li a:hover{
	background-color: #00BFFF;
	color: black;
}
.jumbotron{
	margin-top: 50px;
    background-image: url('../Images/Me.JPG');
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    min-height: 100vh;
    background-size: 100% 100%;
	background-attachment: fixed;
}
#Daniel{
	color: black;
}
#nn {
	border-color: white;
	background-color: white;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #00BFFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #00BFFF;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: #00BFFF;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #00BFFF;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#Experience {
	min-height: 100vh;
	background-color: #00BFFF;
	background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 0 20px;
}

#Languages {
	min-height: 60vh;
	background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 0 20px;
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

#IDES {
	min-height: 60vh;
	background-color: #00BFFF;
	background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 0 20px;
}

#Subjects {
	min-height: 100vh;
	background-size: cover;
    background-position: top center;
    padding: 0 20px;
}

.footer{
	text-align: left;
	font-size: 15px;
	padding-left: 10px;
}

html .fixedFooter {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    margin-top: -35px;
    line-height: 35px;
    background-color: #00BFFF;
    font-family: proxima_novasemibold,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: white;
}

#clearfooter {
	height: 50px;
}

  #grades.btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  #grades.btn.collapsed:after {
    content: "\e080";
  }
  
   .thumbnail > a {
    display: block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 266px;
}

