<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daniel Buckley</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a64b6e0374.js"></script>
  <link rel="stylesheet" href="css/Site.css">
  <link rel="shortcut icon" href="Images/code.png" type="image/x-icon" /> <!-- https://www.google.ie/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjoiObdzLzQAhVCLsAKHevlDEMQjRwIBw&url=http%3A%2F%2Fourcodeworld.com%2Fabout&psig=AFQjCNHZIq0tsmu-mLArOQ6wWw7XHdxlLw&ust=1479912192312819 -->
</head>

<body data-spy="scroll" data-target=".navbar">
	<nav id="nn" class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" id="Daniel" href="#"><img src="Images/code.png" height="30px" alt="Daniel Buckley" style="display: inline; padding-right: 10px;"/>Daniel Buckley</a>
		</div>
		<div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
			  <li><a class="scrollable" href="#Experience">Experience</a></li>
			  <li><a class="scrollable" href="#Projects">Projects</a></li>
			  <li><a class="scrollable" href="#Languages">Languages</a></li>
			  <li><a class="scrollable" href="#IDES">IDES</a></li>
			  <li><a class="scrollable" href="#Education">Education</a></li>
			  <li><a class="scrollable" href="#Location">Location</a></li>
<!-- 			  <li><a href="DanielDavidBuckleyCuriculumVitae.pdf">CV</a></li> -->
			</ul>
		  </div>
		</div>
	  </div>
	</nav>
	
	<section id="Hero">
		<div class="container">
			<div id="clearHeader"></div>
			<div class="row">
				<div class="col-sm-6">
					<img src="Images/Myself.jpg" class="img-responsive img-rounded" alt="Picture of Myself" style="padding-bottom: 30px;" width="304" height="236"/> 
				</div>
				<div class="col-sm-6" style="text-align: left; color: black;">
					<h1 style="letter-spacing: 10px; font-family: 'Raleway';">Daniel David Buckley</h1>
					<h2 style="letter-spacing: 10px; font-family: 'Raleway';É">Software Developer</h2>
					<h3 style="letter-spacing: 10px; font-family: 'Raleway';É">IT Tallaght</h2>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#contactMeModal">Contact Me</button>
					<a href="DanielDavidBuckleyCuriculumVitae.pdf"><button type="button" class="btn btn-info">Download C.V.</button></a>
				</div>
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="contactMeModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Contact Me</h4>
			</div>
			<div class="modal-body">
			  <form id="sendMessage">
				<div class="form-group">
				  <label for="firstName">First Name</label>
				  <input type="text" class="form-control" id="firstName">
				</div>
				<div class="form-group">
				  <label for="lastName">Last Name</label>
				  <input type="text" class="form-control" id="lastName">
				</div>
				<div class="form-group">
				  <label for="phoneNumber">Phone Number</label>
				  <input type="text" class="form-control" id="phoneNumber">
				</div>
				<div class="form-group">
				  <label for="email">Email</label>
				  <input type="email" class="form-control" id="email">
				</div>
				<div class="form-group">
				  <label for="message">Message</label>
				  <textarea type="message-box" class="form-control" rows="5" id="message"></textarea>
				</div>
			  </form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <button type="button" id="sendEmail" class="btn btn-info" data-dismiss="modal">Send Message</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
  
	<section id="Experience">
	<div id="clearfooter"></div>
		<h1>Experiences<h1>
		<div class="experience-row-padding experience-padding-32" style="margin:0 -16px">
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/SureDatum.JPG" alt="SureDatum Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>SureDatum</b></p>
				<p style="font-size: 20px;">Software Developer</p>
				<p class="opacity" style="font-size: 20px;">August 2016 - Present</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#sureDatumModal">More Info</button>
			</div>
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/DSP.png" alt="The Department of Social Protection Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>The Department of Social Protection</b></p>
				<p style="font-size: 20px;">BOMi Software Developer</p>
				<p class="opacity" style="font-size: 20px;">January 2016 - July 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#DSPModal">More Info</button>
			</div>
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/DDSL.jpg" alt="DDSL Logo" style="width:40%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>DDSL</b></p>
				<p style="font-size: 20px;">Referee</p>
				<p class="opacity" style="font-size: 20px;">September 2012 - February 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#DDSLModal">More Info</button>
			</div>
		</div>
	</section>
	
	<!-- Modals for work experiences -->
	<div class="modal fade" id="sureDatumModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>SureDatum Continued</b></h4>
			  <img src="Images/Experience/SureDatum.JPG" alt="SureDatum Logo"/>
			</div>
			<div class="modal-body">
				<p>I received a position as an intern with SureDatum after leaving the Department of Social Protection. Working here part-time as well as going to college. 
					While here I have been working on multiple projects for different clients which enable companies to reduce and control software license costs. 
					I have been exposed to Scala, Java, AngularJS, JUnit, Mockito, and many more.
					We use Test Driven Development as part of our agile philosophy while completing our projects.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="DSPModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>The Department of Social Protection Continued</b></h4>
			  <img src="Images/Experience/DSP.png" alt="The Department of Social Protection Logo" style="width:100%"/>
			</div>
			<div class="modal-body">
				<p>As part of Semester 6 in college, we had to gain a 6 month internship. I gained my internship with the Department of Social Protection.
				In this internship I worked as part of an Agile Team made up of 10 experienced software developers. 
				When I arrived the project was still in the early stages of development. This meant I would be given a lot of analysis work to complete which gave me a great insight on how to write the code. 
				This was challenging at the start but by the end of the internship, I had developed these skills greatly. 
				Other skills I gained was having the ability of working on a huge system which so many people depend on for their day-to-day life. 
				At first,  I found the system quite daunting as it was something I had never seen before in my college work. 
				This internship improved my development skills substantially and I am very thankful to have been given this chance.</p>
				</br>
				<p>
					My main responsibilities were: 
					<ul>
						<li>
							Unit Testing - This was a new skill I picked up here. 
							I found it difficult at the start but it became second nature to me after a bit of guidance from a consultant. 
							I used NCrunch which helped me with unit testing immensely as it showed me where I was going wrong and would display subtle hints to why I was going wrong.
						</li>
						<li>
							Development Code - Towards the last few weeks in the internship, I was given a task to do.
							This task was to find and fix where a problem was arising in the code.
						</li>
						<li>
							Debugging - When discrepancies occurred in the output and we were unsure, my job was to find why this is happening and then report them to the person who coded this.
						</li>
						<li>
							Analysis - Analysing documents wrote by the business users to identify tasks for the team.
						</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="DDSLModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>DDSL Continued</b></h4>
			  <img src="Images/Experience/DDSL.jpg" alt="DDSL Logo" style="width:40%">
			</div>
			<div class="modal-body">
				<p>
					I became a football referee in 2012 when I was a young 17 year old. I was in my final year of secondary school
					and needed some source of weekly income. I had played football all my life and it made sense to me to become a referee.
					This way I was killing two birds with one stone. I love watching football and getting paid for it was even better.
				</p>
				</br>
				<p>
					I refereed football games mainly on Saturday and Sunday mornings although sometimes I was lucky enough to take charge of mid-week games.
					I first started off in the 7-aside tier of the DDSL. Theses matches were aged from 7 - 11 year olds. I refereed these age groups for a year
					and was fortunate enough to take charge of a final during the close of the season. This was a great achievement as I was not even at it a year.
				</p>
				</br>
				<p>
					After this year was up, I started being given more difficult matches. These were mainly between 12 - 16 year olds. At that time I was 18 so I was not far
					off of them age wise. It was a nervous start but after getting some experience of games behind me I found it a lot easier. From time to time it was difficult but
					this was always expected. I found these challenges made me better as a referee.
				</p>
				</br>
				<p>
					In my last season, I was refereeing all ages in the game. All the way from 12 up to 18. I also entered another league which is called the UCFL. This league
					was for senior players. It was challenging at times but was a great experience to be a part of it. 
				</p>
				</br>
				<p>
					Unfortunately, my career came to a close once I started working full-time. Working a 5-day week and trying to referee on the weekend was very tough.
					I stuck with it for two months before I decided to call it a day. It was a great experience and a great profession to be part of. I met wonderful people
					every week that were all passionate about the beautiful game.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	<!-- End of modals -->
	
	<section id="Projects">
		<div id="clearfooter"></div>
		<div class="col-sm-4">
			<h2>Projects</h2>
			<ul class="nav nav-pills nav-stacked">
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#fourthYearProject">Fourth Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#thirdYearProject">Third Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#secondYearProject">Second Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#firstYearProject">First Year</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="col-sm-8">
				<div class="tab-content">
					<div id="fourthYearProject" class="tab-pane fade in active">
						<h2>Fourth Year Project</h2>
						<img src="Images/Projects/IBM.png"/>
						<h3>GitHub Usability Browser Extension</h3>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#IBMProjectModal">More Info</button>
					</div>
					<div id="thirdYearProject" class="tab-pane fade">
						<h2>Third Year Industry Project</h2>
						<p></p>
					</div>
					<div id="secondYearProject" class="tab-pane fade">
						<h2>Second Year Project</h2>
						<p></p>
					</div>
					<div id="firstYearProject" class="tab-pane fade">
						<h2>First Year Project</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="IBMProjectModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <img src="Images/Projects/IBM.png" alt="IBM Logo" style="padding-top: 30px;"/>
			</div>
			<div class="modal-body">
				<h3 style="text-align: center;">GitHub Usability Browser Extension</h3>
				<img src="Images/Projects/GitHubBrowserExtension.jpg" alt="Fourth Year Project Built on top of GitHub" style="padding-top: 30px; align: center;"/>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>

	<section id="Languages">
		<div id="clearfooter"></div>
		<h1>Languages</h1>
		<div class="container" style="padding: 30px;">
		<div class="row">
			<div class="col-sm-4">
				<img style="float: left;" src="Images/CSharp.jpeg" height="150" width="150"/>
			</div>
			<div class="col-sm-4">
				<img style="float: center;" src="Images/C.png" height="150" width="250"/>
			</div>
			<div class="col-sm-4">
				<img style="float: right;" src="Images/Java.png" height="150" width="250"/>
			</div>
		</div>
		<div class="row" style="padding-top: 100px">
			<div class="col-sm-4">
				<img style="float: left;" src="Images/javascript.png" height="150" width="150"/>
			</div>
			<div class="col-sm-4">
				<img style="float: center;" src="Images/AngularJS.png" height="150" width="250"/>
			</div>
			<div class="col-sm-4">
				<img style="float: right;" src="Images/Scala.gif" height="150" width="300"/>
			</div>
		</div>
	</section>

	<section id="IDES">
		<div id="clearfooter"></div>
		<h1>IDES</h1>
		<div class="container" style="padding: 30px;">
		<div class="row">
			<div class="col-sm-4">
				<img style="float: left;" src="Images/VisualStudio.png" height="100%" width="90%"/>
			</div>
			<div class="col-sm-4">
				<img style="float: center;" src="Images/Intellij.png" height="80%" width="80%"/>
			</div>
			<div class="col-sm-4">
				<img style="float: right;" src="Images/Eclipse.png" height="90%" width="100%"/>
			</div>
		</div>
	</section>
	
	<section id="Education">
		<div id="clearfooter"></div>
		<h1 style="text-align: center;">Education</h1>
		<div class="container" ng-app="education" ng-controller="educationController">
			<div class="col-sm-3">
				<button type="button" class="btn btn-lg btn-info collapsed" id="grades" data-toggle="collapse" data-target="#FourthYear">Fourth Year</button>
			</div>
			<div id="FourthYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: TBC / 4.0</h4>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th>Subject</th>
						<th>Grade</th>
					  </tr>
					</thead>
					<tbody ng-repeat="fy in education.fourthYear">
						<tr>
							<td>{{fy.subject}}</td>
							<td>{{fy.grade}}</td>
						</tr>	  
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-lg btn-info collapsed" id="grades" data-toggle="collapse" data-target="#ThridYear">Third Year</button>
			</div>
			<div id="ThridYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 3.25 / 4.0</h4>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th>Subject</th>
						<th>Grade</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="ty in education.thirdYear">
							<td>{{ty.subject}}</td>
							<td>{{ty.grade}}</td>
					  </tr>			  
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-lg btn-info collapsed" id="grades" data-toggle="collapse" data-target="#SecondYear">Second Year</button>
			</div>
			<div id="SecondYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 3.29 / 4.0</h4>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th>Subject</th>
						<th>Grade</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="sy in education.secondYear">
							<td>{{sy.subject}}</td>
							<td>{{sy.grade}}</td>
					  </tr>				  
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-lg btn-info collapsed" id="grades" data-toggle="collapse" data-target="#FirstYear">First Year</button>
			</div>
			<div id="FirstYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 2.98 / 4.0</h4>
				<table class="table table-hover">
					<thead>
					  <tr>
						<th>Subject</th>
						<th>Grade</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="fy in education.firstYear">
							<td>{{fy.subject}}</td>
							<td>{{fy.grade}}</td>
					  </tr>				  
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section id="Location">
		<div id="clearfooter"></div>
		<h1>Location</h1>
		<!-- Add Google Maps -->
		<div id="googleMap"></div>
	</section>
	
	<!-- FOOTER -->
	<div id="clearfooter"></div>
	<div class="fixedFooter">
		<div class="footerContainer" style="max-width: 1091px; margin: 0 auto;">
			<p class="footer">&copy; 2016/2017 Daniel Buckley <a class="fa fa-linkedin" style="padding: 10px;" target="_blank" href="https://ie.linkedin.com/in/daniel-buckley-a534618b"></a> <a class="fa fa-github" style="padding: 10px;" target="_blank" href="https://github.com/DanoBuck" aria-hidden="true"></a></p>
		</div>
	</div>
</body>
	<!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
	<!-- Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeYwIkZhXOIK3N94V9mnemvY7wKC8VFq0"></script>
	<!-- Custom Scripts -->
	<script src="js/googleMap.js"></script>
	<script src="js/email.js"></script>
	<script src="js/subjectResults.js"></script>
	<script>
		<!-- JQuery for page scrolling -->
		$(document).ready(function(){
			  $(".scrollable").on('click', function(event) {

				if (this.hash !== "") {
				  event.preventDefault();

				  // Store hash
				  var hash = this.hash;

				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 800, function(){
			   
					window.location.hash = hash;
				  });
				}
			  });
			});
	</script>
</html>