<!DOCTYPE html>
<html lang="en">
<head>
	<title>Daniel Buckley</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/a64b6e0374.js"></script>
	<link rel="stylesheet" href="css/Site.css">
	<!-- Captcha -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="Images/code.png" type="image/x-icon" /> <!-- https://www.google.ie/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjoiObdzLzQAhVCLsAKHevlDEMQjRwIBw&url=http%3A%2F%2Fourcodeworld.com%2Fabout&psig=AFQjCNHZIq0tsmu-mLArOQ6wWw7XHdxlLw&ust=1479912192312819 -->
</head>

<body data-spy="scroll" data-target=".navbar">
	<nav id="nn" class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" id="Daniel" href="#"><img src="Images/code.png" height="30px" alt="Daniel Buckley" style="display: inline; padding-right: 10px;"/>Daniels Buckley</a>
		</div>
		<div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
			  <li><a class="scrollable" href="#Experience">Experience</a></li>
			  <li><a class="scrollable" href="#Projects">Projects</a></li>
			  <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Languages <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a class="scrollable" href="#ExcellentKnowledge">Excellent Knowledge</a></li>
				  <li><a class="scrollable" href="#SomeKnowledge">Some Knowledge</a></li>
				</ul>
			  </li>
			  <li><a class="scrollable" href="#Education">Education</a></li>
			  <li><a class="scrollable" href="#Location">Location</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</nav>
	
	<section id="Hero">
		<div class="container">
			<div id="clearHeader"></div>
			<div class="row">
				<div class="col-sm-6">
					<img src="Images/Myself.jpg" class="img-responsive img-rounded" alt="Picture of Myself" style="padding-bottom: 30px;" width="304" height="236"/> 
				</div>
				<div class="col-sm-6" style="text-align: left; color: black;">
					<h1 style="letter-spacing: 10px; font-family: 'Raleway';">Daniel David Buckley</h1>
					<h2 style="letter-spacing: 10px; font-family: 'Raleway';É">Software Developer</h2>
					<h3 style="letter-spacing: 10px; font-family: 'Raleway';É">IT Tallaght</h2>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#contactMeModal">Contact Me <i class="fa fa-commenting-o" aria-hidden="true"></i></button>
					<a href="DanielDavidBuckleyCuriculumVitae.pdf"><button type="button" class="btn btn-info">Download C.V. <i class="fa fa-download" aria-hidden="true"></i></button></a>
				</div>
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="contactMeModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Contact Me</h4>
			</div>
			<div class="modal-body">
			  <form id="sendMessage" action="https://www.enformed.io/etua41t1" method="POST">
					<div class="form-group">
					  <label for="firstName">First Name</label>
					  <input type="text" minlength="1" name="first name" class="form-control" id="firstName" required>
					</div>
					<div class="form-group">
					  <label for="lastName">Last Name</label>
					  <input type="text" minlength="1" name="last name" class="form-control" id="lastName" required>
					</div>
					<div class="form-group">
					  <label for="phoneNumber">Phone Number <i class="fa fa-mobile fa-lg" aria-hidden="true"></i></label>
					  <input type="text" name="phone number" class="form-control" id="phoneNumber">
					</div>
					<div class="form-group">
					  <label for="email">Email <i class="fa fa-envelope-o" aria-hidden="true"></i></label>
					  <input type="email" name="email" class="form-control" id="email" required>
					</div>
					<div class="form-group">
					  <label for="message">Message</label>
					  <textarea minlength="1" type="message-box" name="message" class="form-control" rows="5" id="message" required></textarea>
					</div>
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LeW7A0UAAAAAA-LAZBw29F_D8d6Dtl2rrrtgnyU"></div>
					</div>
					
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					  <button type="submit" id="sendEmail" name="*redirect" value="https://danobuck.github.io/OnlineCV/#" class="btn btn-info">Send Message <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
					</div>
				</form>
			  </div>
			</div>
		</div>
		<div id="clearfooter"></div>
	</div>
  
	<section id="Experience">
	<div id="clearfooter"></div>
		<h1>Experiences<h1>
		<div class="experience-row-padding experience-padding-32" style="margin:0 -16px">
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/SureDatum.JPG" alt="SureDatum Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>SureDatum</b></p>
				<p style="font-size: 20px;">Software Developer</p>
				<p class="opacity" style="font-size: 20px;">August 2016 - Present</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#sureDatumModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
			</div>
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/DSP.png" alt="The Department of Social Protection Logo" style="width:100%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>The Department of Social Protection</b></p>
				<p style="font-size: 20px;">BOMi Software Developer</p>
				<p class="opacity" style="font-size: 20px;">January 2016 - July 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#DSPModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
			</div>
			<div class="experienceSection margin-bottom">
			  <img src="Images/Experience/DDSL.jpg" alt="DDSL Logo" style="width:40%" class="w3-hover-opacity">
				<p style="font-size: 20px;"><b>DDSL</b></p>
				<p style="font-size: 20px;">Referee</p>
				<p class="opacity" style="font-size: 20px;">September 2012 - February 2016</p>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#DDSLModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
			</div>
		</div>
	</section>
	
	<!-- Modals for work experiences -->
	<div class="modal fade" id="sureDatumModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>SureDatum Continued</b></h4>
			  <img src="Images/Experience/SureDatum.JPG" alt="SureDatum Logo" style="max-width:80%"/>
			</div>
			<div class="modal-body">
				<p>I received a position as an intern with SureDatum after leaving the Department of Social Protection. Working here part-time as well as going to college. 
					While here I have been working on multiple projects for different clients which enable companies to reduce and control software license costs. 
					I have been exposed to Scala, Java, AngularJS, JUnit, Mockito, and many more.
					We use Test Driven Development as part of our agile philosophy while completing our projects.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="DSPModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>The Department of Social Protection Continued</b></h4>
			  <img src="Images/Experience/DSP.png" alt="The Department of Social Protection Logo" style="width:100%"/>
			</div>
			<div class="modal-body">
				<p>As part of Semester 6 in college, we had to gain a 6 month internship. I gained my internship with the Department of Social Protection.
				In this internship I worked as part of an Agile Team made up of 10 experienced software developers. 
				When I arrived the project was still in the early stages of development. This meant I would be given a lot of analysis work to complete which gave me a great insight on how to write the code. 
				This was challenging at the start but by the end of the internship, I had developed these skills greatly. 
				Other skills I gained was having the ability of working on a huge system which so many people depend on for their day-to-day life. 
				At first,  I found the system quite daunting as it was something I had never seen before in my college work. 
				This internship improved my development skills substantially and I am very thankful to have been given this chance.</p>
				</br>
				<p>
					My main responsibilities were: 
					<ul>
						<li>
							Unit Testing - This was a new skill I picked up here. 
							I found it difficult at the start but it became second nature to me after a bit of guidance from a consultant. 
							I used NCrunch which helped me with unit testing immensely as it showed me where I was going wrong and would display subtle hints to why I was going wrong.
						</li>
						<li>
							Development Code - Towards the last few weeks in the internship, I was given a task to do.
							This task was to find and fix where a problem was arising in the code.
						</li>
						<li>
							Debugging - When discrepancies occurred in the output and we were unsure, my job was to find why this is happening and then report them to the person who coded this.
						</li>
						<li>
							Analysis - Analysing documents wrote by the business users to identify tasks for the team.
						</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="DDSLModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header" style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"><b>DDSL Continued</b></h4>
			  <img src="Images/Experience/DDSL.jpg" alt="DDSL Logo" style="width:40%">
			</div>
			<div class="modal-body">
				<p>
					I became a football referee in 2012 when I was a young 17 year old. I was in my final year of secondary school
					and needed some source of weekly income. I had played football all my life and it made sense to me to become a referee.
					This way I was killing two birds with one stone. I love watching football and getting paid for it was even better.
				</p>
				</br>
				<p>
					I refereed football games mainly on Saturday and Sunday mornings although sometimes I was lucky enough to take charge of mid-week games.
					I first started off in the 7-aside tier of the DDSL. Theses matches were aged from 7 - 11 year olds. I refereed these age groups for a year
					and was fortunate enough to take charge of a final during the close of the season. This was a great achievement as I was not even at it a year.
				</p>
				</br>
				<p>
					After this year was up, I started being given more difficult matches. These were mainly between 12 - 16 year olds. At that time I was 18 so I was not far
					off of them age wise. It was a nervous start but after getting some experience of games behind me I found it a lot easier. From time to time it was difficult but
					this was always expected. I found these challenges made me better as a referee.
				</p>
				</br>
				<p>
					In my last season, I was refereeing all ages in the game. All the way from 12 up to 18. I also entered another league which is called the UCFL. This league
					was for senior players. It was challenging at times but was a great experience to be a part of it. 
				</p>
				</br>
				<p>
					Unfortunately, my career came to a close once I started working full-time. Working a 5-day week and trying to referee on the weekend was very tough.
					I stuck with it for two months before I decided to call it a day. It was a great experience and a great profession to be part of. I met wonderful people
					every week that were all passionate about the beautiful game.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	<!-- End of modals -->
	
	<section id="Projects">
		<div id="clearfooter"></div>
		<div class="col-sm-4">
			<h2>Projects</h2>
			<ul class="nav nav-pills nav-stacked">
				<li class="active" style="padding-top: 30px;"><a data-toggle="pill" href="#fourthYearProject">Fourth Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#thirdYearProject">Third Year</a></li>
				<li style="padding-top: 30px;"><a data-toggle="pill" href="#secondYearProject">Second Year</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="col-sm-8">
				<div class="tab-content">
					<div id="fourthYearProject" class="tab-pane fade in active">
						<h2>Fourth Year Project</h2>
						<img src="Images/Projects/IBM.png" alt="IBM Logo" style="max-width: 100%;"/>
						<h3>GitHub Usability Browser Extension</h3>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#IBMProjectModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
						<div class="space">
							<h2>Tableau Data Visualisations</h2>
							<img src="Images/Projects/Tableau.png" alt="Tableau Logo" style="max-width: 100%;"/>
							<h3>Penalty Points in Ireland</h3>
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#TableauModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
					<div id="thirdYearProject" class="tab-pane fade">
						<h2>Third Year Industry Project</h2>
						<img src="Images/Projects/DSP.png" alt="The Department of Social Protection Logo" style="width:100%;max-width:80%"/>
						<h3>Online Appointments for Public Services Cards</h3>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#DSPProjectModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
						<div class="space">
							<h2>Plagiarism Detector</h2>
							<img src="Images/Projects/Plagiarism.png" alt="Plagiarism" style="max-width:100%"/>
							<h3>Plagiarism Detector in C++</h3>
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#PlagiarismDetectorModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
						</div>
					</div>
					<div id="secondYearProject" class="tab-pane fade">
						<h2>Second Year Project</h2>
						<img src="Images/Projects/ITTLogo.jpg" alt="IT Tallaght Logo" style="width: 50%"/>
						<h3>Soccer Club System</h3>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#SecondYearProjectModal">More Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Modals for projects -->
	<div class="modal fade" id="IBMProjectModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <img src="Images/Projects/IBM.png" alt="IBM Logo" style="padding-top: 30px;max-width: 100%;"/>
			</div>
			<div class="modal-body">
				<h3 style="text-align: center;">GitHub Usability Browser Extension</h3>
				<div id="CenteredDiv" style="text-align: center;">
					<img src="Images/Projects/GitHubBrowserExtension.JPG" alt="Fourth Year Project Built on top of GitHub" style="padding-top: 30px; max-width: 80%;"/>
				</div>
				<h4><b>Project Summary</b></h4>
				<p>
					For my fourth and final year in college I was selected to complete my project with IBM. 
					I was assigned an IBM mentor who I worked with daily.
					The project is a Chrome Browser Extension made up of HTML, CSS, and JavaScript and will be deployed on the Google Web Store in the future. 
					The application will be building upon GitHub making it a more usable tool for project management with development teams.
					I started to develop this application only quite recently so it is still in the early stages.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="TableauModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header"style="text-align: center;">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <img src="Images/Projects/Tableau.png" alt="Tableau Logo" style="max-width: 100%;"/>
			</div>
			<div class="modal-body">
				<h3 style="text-align: center;">Penalty Points in Ireland</h3>
				<div id="CenteredDiv" style="text-align: center;">
					<img src="Images/Projects/PenaltyPoints.png" alt="Penalty Point Visualisations" style="padding-top: 30px; max-width: 100%;"/>
				</div>
				<h4><b>Project Summary</b></h4>
				<p>
					To complete this project, I gained data from the Road Safety Authority. I got all the data of types of offences and how many penalty
					points were issued for a particular month for those offences. The data contained all statistics for each county in the Republic of
					Ireland.
				</p>
				</br>
				<p>
					When I first gained the data it was in a real mess. I was not able to import it straight into Tableau. I needed to clean up the data.
					To do this I wrote a series of scripts in C# to help me to clean this. The script was hard work but after some time well spent I had
					a much better way of cleaning it rather than trying to do it manually. After these scripts were ran, the data was now ready to be imported
					into Tableau.
				</p>
				</br>
				<p>
					After this, I made my visualisations which can be seen at the top of this section. These visualisations show the offences by counties
					on a map. Each county is broken down into a percentage to give the user a better idea of what counties are worst. The worst the county is,
					the darker shade of blue it gets. The bar chart underneath the map shows the penalty point break down by offence and county. This is linked
					to the map and filters accordingly with what is selected.
				</p>
				</br>
				<p>
					All the code and visualisations live in a repository on GitHub. These can be found at <a href="https://github.com/DanoBuck/InteractiveMediaDesignCA1">here</a>.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="DSPProjectModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"style="text-align: center;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<img src="Images/Experience/DSP.png" alt="The Department of Social Protection Logo" style="width:100%"/>
				</div>
				<div class="modal-body">
					<h3 style="text-align: center;">Online Appointments for Public Services Cards</h3>
					<div id="CenteredDiv" style="text-align: center;">
						<img src="Images/Projects/OnlineAppointments.png" alt="The Department of Social Protection Logo" style="width:100%"/>
					</div>
					<h4><b>Project Summary</b></h4>
					<p>
						This project was built over 6 weeks in spare time after work in ASP.NET MVC C#. 
						This was part of my college work while out in industry on internship.
					</p>
					</br>
					<p>
						The project had three main users, managers, staff members, and customers.
						However there is another user but this user is not registered and can only see the basic views i.e. 
						the home page which shows information about the system, office locations represented on a map, and the about page.
					</p>
					</br>
					<p>
					This project was developed on my own. It was a mock appointment system.
					This allowed the user to make a new profile on the system. 
					Then the customer had the ability to book an appointment of their choosing, including where and when with us, as long as this time and place
					was not booked up already. For simplicity, I allowed the customer to pick the member of staff in which they wanted to attend an
					appointment with. After the user confirmed the appointment, they received an email from the system with the appointment information.
					</p>
					</br>
					<p>
						The user also had the ability to amend their booking. This process was done similarly to the creation of the appointment.
					</p>
					</br>
					<p>
						Once a booking was made with a member of staff, the staff members appointment would appear on their view once they logged in.
						The staff member had the ability to cancel the appointment as well as the customer. An email was also generated in this case.
					</p>
					</br>
					<p>
						Managers were the only users who could add a new staff member, this would also create the staff members profile and generate an email
						to them containing their credentials. Managers also could see all their colleagues appointments in a table format. 
						A chart would appear on the managers view showing what time is the busiest. Managers could also add new offices.
					</p>
					</br>
					<p>
						Unfortunately, my free 30 day trial with Microsoft Azure is up. Therefore my system is not being hosted anymore. 
						However, my source code and documentation are living on GitHub. My repository can be found at <a href="https://github.com/DanoBuck/PublicServicesCardsProject"> here</a>.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<div id="clearfooter"></div>
	</div>
	
	<div class="modal fade" id="PlagiarismDetectorModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"style="text-align: center;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<img src="Images/Projects/Plagiarism.png" alt="Plagiarism" style="max-width: 100%"/>
				</div>
				<div class="modal-body">
					<h3 style="text-align: center;">Plagiarism Detector</h3>
					<h4><b>Project Summary</b></h4>
					<p>
						This project was a console application which was carried out using C++.
						My job was to code a Plagiarism Checker which would compare .cpp and .h files to one another and flag the plagiarism between them.
						The code is on GitHub and can be found <a href="https://github.com/DanoBuck/Plagiarism-Detector-CA1">here</a>.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<div id="clearfooter"></div>
	</div>

	
	<div class="modal fade" id="SecondYearProjectModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"style="text-align: center;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<img src="Images/Projects/ITTLogo.jpg" alt="IT Tallaght Logo" style="width: 50%"/>
				</div>
				<div class="modal-body">
					<h3 style="text-align: center;">Soccer Club System</h3>
					<div id="CenteredDiv" style="text-align: center;">
						<img src="Images/Projects/SoccerClubSystem.png" alt="Second Year Soccer Club System" style="width:100%"/>
					</div>
					<h4><b>Project Summary</b></h4>
					<p>
						I was heavily involved in the development of a Soccer Club System. 
						This project was 12 weeks long. Our team consisted of three members.
						Each of us worked on the system. The system was developed in Java with a SQL database while using Java Swing GUI's. 
						The main aim of the system was for a football club to keep track of their teams upcoming matches, previous results, league tables,
						players and training sessions. 
						Players were also given the ability to pay their weekly fees through the system by credit card which was checked through our model.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<div id="clearfooter"></div>
	</div>
	<!-- End of modals -->

	<section id="Languages">
		<div id="clearfooter"></div>
		<h1>Languages</h1>
		<section id="ExcellentKnowledge">
			<div id="clearfooter"></div>
			<h2>Excellent Knowledge</h2>
			<div class="experience-row-padding experience-padding-32" style="margin:0 -16px">
				<div class="experienceSection margin-bottom">
					<img src="Images/CSharp.jpeg" alt="C Sharp Logo" height="150" width="150" class="w3-hover-opacity">
				</div>
				<div class="experienceSection margin-bottom">
					<img src="Images/C.png" alt="C" height="150" width="250">
				</div>
				<div class="experienceSection margin-bottom">
					<img src="Images/Java.png" height="150" width="250" alt="Java">
				</div>
			</div>
		</section>
		
		<section id="SomeKnowledge">
			<div id="clearfooter"></div>
			<h2>Some Knowledge</h2>
			<div class="experience-row-padding experience-padding-32" style="margin:0 -16px">
				<div class="experienceSection margin-bottom">
					<img src="Images/javascript.png" height="150" width="150" alt="JavaScript">
				</div>
				<div class="experienceSection margin-bottom">
					<img src="Images/AngularJS.png" height="170" width="250" alt="Angular">
				</div>
				<div class="experienceSection margin-bottom">
					<img src="Images/Scala.gif" height="150" width="300" alt="Scala">
				</div>
			</div>
		</section>
	</section>
	
	<section id="Education">
		<div id="clearfooter"></div>
		<h1 style="text-align: center;">Education</h1>
		<div id="ITT">
			  <img src="Images/Education/ITT.jpg" alt="ITT" style="max-width:60%">
				<p style="font-size: 20px;"><b>Institute of Technology Tallaght</b></p>
				<p style="font-size: 20px;">Bachelor of Science (Honours) in Computing</p>
				<p class="opacity" style="font-size: 20px;">2013 - 2017</p>
		</div>
		<div class="container" style="padding-top: 20px;" ng-app="education" ng-controller="educationController">
			<div class="col-sm-3">
			<button type="button" class="btn btn-med btn-info collapsed" id="grades" data-toggle="collapse" data-target="#FourthYear">Fourth Year</button>
			</div>
			<div id="FourthYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: TBC / 4.0</h4>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Subject</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody ng-repeat="fy in education.fourthYear">
							<tr>
								<td>{{fy.subject}}</td>
								<td>{{fy.grade}}</td>
							</tr>	  
						</tbody>
					</table>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-med btn-info collapsed" id="grades" data-toggle="collapse" data-target="#ThridYear">Third Year</button>
			</div>
			<div id="ThridYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 3.25 / 4.0</h4>
				<table class="table table-hover">
					<thead>
						<tr>
						<th>Subject</th>
						<th>Grade</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="ty in education.thirdYear">
						<td>{{ty.subject}}</td>
						<td>{{ty.grade}}</td>
					</tr>			  
					</tbody>
				</table>
			</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-med btn-info collapsed" id="grades" data-toggle="collapse" data-target="#SecondYear">Second Year</button>
				</div>
				<div id="SecondYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 3.29 / 4.0</h4>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Subject</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="sy in education.secondYear">
								<td>{{sy.subject}}</td>
								<td>{{sy.grade}}</td>
							</tr>				  
						</tbody>
					</table>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-med btn-info collapsed" id="grades" data-toggle="collapse" data-target="#FirstYear">First Year</button>
				</div>
			<div id="FirstYear" class="collapse">
				<div id="clearfooter"></div>
				<h4> GPA: 2.98 / 4.0</h4>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Subject</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fy in education.firstYear">
							<td>{{fy.subject}}</td>
							<td>{{fy.grade}}</td>
						</tr>				  
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section id="Location">
		<div id="clearfooter"></div>
		<h1>Location</h1>
		<!-- Add Google Maps -->
		<div id="googleMap"></div>
	</section>
	
	<!-- FOOTER -->
	<div id="clearfooter"></div>
	<div class="fixedFooter">
		<div class="footerContainer" style="max-width: 1091px; margin: 0 auto;">
			<p class="footer">&copy; 2016/2017 Daniel Buckley <a class="fa fa-linkedin" style="padding: 10px;" target="_blank" href="https://ie.linkedin.com/in/daniel-buckley-a534618b"></a> <a class="fa fa-github" style="padding: 10px;" target="_blank" href="https://github.com/DanoBuck" aria-hidden="true"></a></p>
		</div>
	</div>
</body>
	<!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
	<!-- Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeYwIkZhXOIK3N94V9mnemvY7wKC8VFq0"></script>
	<!-- Custom Scripts -->
	<script src="js/googleMap.js"></script>
	<script src="js/email.js"></script>
	<script src="js/subjectResults.js"></script>
	<script>
		<!-- JQuery for page scrolling -->
		$(document).ready(function(){
			  $(".scrollable").on('click', function(event) {

				if (this.hash !== "") {
				  event.preventDefault();

				  // Store hash
				  var hash = this.hash;

				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 800, function(){
			   
					window.location.hash = hash;
				  });
				}
			  });
			});
	</script>
	
	</script>
		$("#sendMessage").validate();
	</script>
</html>